@model EntityLayer.Concrete.Blog

@{
	ViewData["Title"] = "BlogDetails";
	Layout = "~/Views/Shared/UserLayout.cshtml";
}

<!--
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html lang="zxx">

<body>

	<!--//banner-->
	<section class="banner-bottom">
		<!--/blog-->
		<div class="container">
			<div class="row">
				<!--left-->
				<div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
					<div class="blog-grid-top">
						<div class="b-grid-top">
							<div class="blog_info_left_grid">
								<a href="single.html">
									<img src="~/BlogImages/@Model.BlogImage" class="img-fluid" alt="">
								</a>
							</div>
							<div class="blog-info-middle">
								<ul>
									<li>
										<a href="#">
											<i class="far fa-calendar-alt"></i>@(((DateTime)Model.CreateDate).ToString("dd.MM.yyyy hh:mm:ss"))
										</a>
									</li>
									<li class="mx-2">
										<a href="#">
											<i class="far fa-thumbs-up"></i> 0 Likes
										</a>
									</li>
									<li>
										<a href="#">
											<i class="far fa-comment"></i> 0 Comments
										</a>
									</li>

								</ul>
							</div>
						</div>

						<h3>
							<a>@Model.BlogTitle</a>
						</h3>
						<p>
							@Model.BlogContent
						</p>
						<a href="/Blog/Index/" class="btn btn-primary read-m">Return to Popular Blogs</a>
					</div>
					@await Component.InvokeAsync("CommentListByBlog", new { id = Model.BlogID })
					@await Html.PartialAsync("~/Views/Comment/AddComment.cshtml", Model)
				</div>

				<!--//left-->
				<!--right-->
				<aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
					<div class="right-blog-info text-left">

						@await Component.InvokeAsync("CategoryList")
						@await Component.InvokeAsync("BlogListByWriter", new { id = Model.WriterID })

					</div>

				</aside>
				<!--//right-->
			</div>
		</div>
	</section>
</body>
</html>

