<div class="comment-top">
	<h4>Yorum Yapın</h4>
	<div class="comment-bottom">
		<form method="post">
			<input class="form-control" style="color:black;" type="text" id="username" name="CommentUserName" placeholder="Ad Soyad" required="">

			<input class="form-control" style="color:black;" type="text" id="title" name="CommentTitle" placeholder="Başlık" required="">

			<textarea class="form-control" style="color:black;" id="content" name="CommentContent" placeholder="Yorum..." required=""></textarea>
			<button type="submit" id="comment-btn" class="btn btn-primary submit">Gönder</button>
		</form>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/coreblogtema/web/js/jquery-2.2.3.min.js"></script>

<script type="text/javascript">
	$("#comment-btn").on('click', function (event) {

		event.preventDefault(); // Prevent the page from redirecting (prevents sweet alert closing suddenly afer appearing)

		let values = {
			CommentUserName: $("#username").val(),
			CommentTitle: $("#title").val(),
			CommentContent: $("#content").val(),
		};

		$.ajax({
			type: "POST",
			url: "/Comment/AddComment",
			data: values,
			success: function (response) {
				if (response.result) {
					Swal.fire({
						position: 'center',
						icon: 'success',
						title: 'Yorum gönderildi!',
						showConfirmButton: false,
						timer: 2000
					}).then(function () {
						location.reload();
					}
					);
				}
			}
		});
	});
</script>